/* starting of booking form */
.booking{
display: flex;
justify-content: center;
min-height: 62vh;
width:60vh;
margin: 10px auto;
background-color: rgb(120, 120, 231,0.4);
}
.booking h2 {
    color: white;
    padding: 10px;
    text-shadow: 2px 1px 2px black;
    letter-spacing: 2px;
}
.contact-us{
    min-height: 20vh;
}
label{
    font-size: 18px;
    font-weight: 600;
}
input {
    width: 300px;
    height: 35px;
    border: 2px solid;
    border-radius: 8px;
}
button{
    width: 100%;
    height: 30px;
    border: 2px solid;
    border-radius: 8px;
    background-color: rgba(0, 0, 8);
    color: white;

}
button:hover{
    background-color: rgb(246, 246, 248);
    color: rgb(10, 0, 0);
    cursor: pointer;
}
@media (max-width: 600px){
    .booking{
        width: 57vh;
    }
}
/* Ending of booking form */