.head{
    background-image: url(/maharashtrabg.jfif);
    height: 110vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.slider h1{
    margin: -50px auto;
    display: inline-block;
    color: rgb(238, 75, 11);
    font-size: 2rem;
    text-shadow: 1px 1px rgb(167, 233, 44);
    --animate-duration: 5s;
    /* border: 2px solid; */
    /* height: 80px; */
    
    
    }
    .box-slider{
        position: absolute;
        top: 10%;
        width: 100%;
        height: 100%;
        /* border: 2px solid; */
        animation: slider 120s infinite alternate;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    @keyframes slider{
        0%{background-image: url(maharashtra1.jpg);
           
    
        }
        10%{background-image: url(maharashtra2.jfif);
    
        }
        20%{background-image: url(maharashtra3.jfif);
    
        }
        30%{background-image: url(maharashtra4.jpg);
    
        }
        40%{background-image: url(maharashtra5.jfif);
    
        }
        50%{background-image: url(maharashtra6.jfif);
    
        }
        60%{background-image: url(maharashtra7.jfif);
    
        }
        70%{background-image: url(maharashtra8.jfif);
    
        }
        80%{background-image: url(maharashtra9.jfif);
    
        }
        90%{background-image: url(maharashtra10.jpg);
    
        }
        100%{background-image: url(maharashtra11.jfif);
    
        }
    }
    